<form class="uk-form-stacked">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend" swac_lang="Form.contactform_contact">Contact</legend>

        <div class="uk-margin">
            <label class="uk-form-label" for="name">Form.contactform_name</label>
            <input name="name" id="name" class="uk-input" type="text" aria-label="Form.contactform_contact_al">
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="email">Form.contactform_email</label>
            <input name="email" id="email" class="uk-input" type="email" aria-label="Form.contactform_email_al">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="message">Form.contactform_message</label>
            <textarea name="message" id="message" class="uk-textarea" rows="5" aria-label="Form.contactform_message_al" required></textarea>
        </div>

        <div class="uk-margin">
            <button class="uk-button" type="submit">Form.submit</button>
        </div>
    </fieldset>
</form>