<form id="trigger_form" class="uk-form-stacked" >
    <h3>New Trigger</h3>
    <div class="uk-margin">  
        <label class="uk-form-label" for="description">Description</label>      
        <div class="uk-margin">
            <input class="uk-input" name="description" id="description" type="text" placeholder="Short trigger description" required>
        </div>
        <label class="uk-form-label">Schedule</label>
        <div class="uk-margin">
            <input class="uk-input" name="schedule_type" id="schedule_type" type="text" placeholder="Type (e.g. recurring)" required>
        </div>
        <div class="uk-margin">
            <input class="uk-input" name="schedule_cron" id="schedule_cron" type="text" placeholder="Cron (e.g. * * * * *)" required>
        </div>
        <div class="uk-margin">
            <input class="uk-input" name="schedule_timestamp" id="schedule_timestamp" type="datetime-local" required>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Conditions</label>
        <ul id="conditions_list" class="uk-accordion" uk-accordion="multiple: true"></ul>
        <div class="uk-margin-small-top uk-text-center">
            <button id="add_condition_btn" class="uk-button uk-button-default" type="button">
                Add Condition
            </button>
        </div>
    </div>
    <div class="uk-margin uk-flex uk-flex-center">
        <button class="uk-button uk-button-primary" type="submit">Create Trigger</button>
    </div>
</form>