<span swac_lang="DataFilterStored.filters_active"></span>
<a href="#filters_settings" class="uk-icon-button" uk-toggle uk-icon="settings" aria-label="DataFilterStored.filtersettings_open"></a>

<div id="filters_settings" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h3 swac_lang="DataFilterStored.filters">Filters</h3>
        <div class="swac_repeatForSet uk-card uk-card-default uk-card-small uk-card-body uk-margin-small-bottom">
            <div class="uk-flex uk-flex-between uk-flex-middle">
                <h4 class="uk-margin-remove" uk-tooltip="{desc}">{name}</h4>
                <!-- Remove button for this single filter -->
                <a href="#" class="swac_datafilterstored_remove_tpl uk-icon-link" uk-icon="trash" aria-label="DataFilterStored.removefilter"></a>
            </div>
            <label class="uk-form-label" swac_lang="DataFilterStored.attr">Filter attribute</label>
            <div class="uk-form-controls">
                <select class="uk-select uk-form-small" name="attr">
                </select>
            </div>
            <label class="uk-form-label" swac_lang="DataFilterStored.types">Filter type</label>
            <div class="uk-form-controls">
                <select class="uk-select uk-form-small" name="type">
                    <option value="none" swac_lang="DataFilterStored.none">ignore</option>
                    <option value="eq" swac_lang="DataFilterStored.eq">equals</option>
                    <option value="lt" swac_lang="DataFilterStored.lt">lower than</option>
                    <option value="gt" swac_lang="DataFilterStored.gt">greater than</option>
                </select>
            </div>
            <label class="uk-form-label" swac_lang="DataFilterStored.values">Filter value(s)</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-small" name="values" type="text" placeholder="Value" value="{values}">
            </div>
        </div>
        <button class="swac_datafilter_addfilter uk-button uk-button-default" swac_lang="DataFilterStored.addfilter">Add filter</button>
    </div>
</div>
