<div class="present_main uk-width-1-1 uk-flex uk-flex-column uk-margin-small">
    <div class="swac_repeatForSet">
        <div class="notification-card uk-card uk-card-default uk-flex uk-flex-middle uk-margin-small-bottom" 
            swac_id="{id}" 
            data-h_id="{history_id}">
            <div class="notif-time uk-text-center uk-padding-small {type}">
                <div class="notif-day">{sent_date}</div>
                <div class="notif-time-text">{sent_time}</div>
            </div>
            <div class="notif-message uk-padding-small uk-flex-1">
                <div class="notif-text">{notification_title}</div>
                <button class="notif-delete-btn uk-icon-button uk-margin-small-right" uk-icon="trash"></button>
            </div>
        </div>
    </div>
</div>
