<div class="present_main uk-width-1-1 uk-flex uk-flex-column uk-margin-small">
    <ul class="uk-accordion-default uk-width-1-1" uk-accordion="multiple: true">
        <li>
            <a class="uk-accordion-title notif-header uk-flex uk-flex-middle uk-padding-small add">
                <span uk-icon="icon: plus; ratio: 2"></span>
            </a>
        </li>
        <li class="swac_repeatForSet">
            <a class="uk-accordion-title notif-header uk-flex uk-flex-middle uk-padding-small" swac_id="{id}">
                <img class="notif-icon" src="{tier_3_image_url}" alt="" />
                <div class="uk-flex-1 uk-margin-small-left">
                    <div class="notif-title">{title}</div>
                    <div class="notif-desc uk-text-meta">{description}</div>
                </div>
            </a>
            <div class="uk-accordion-content notif-body uk-padding-small uk-padding-remove-top">
                <div class="tier-label">Tier 1</div>
                <div class="tier-row uk-card uk-card-default uk-border-rounded uk-padding-small uk-flex uk-flex-middle">
                    <img class="tier-icon" src="{tier_1_image_url}" alt="" />
                    <div class="tier-items uk-flex-1 uk-margin-small-left">
                        <div class="tier-row-items" data-t_id="{tier_1_trigger_id}">
                            <div class="tier-item add">
                                <span uk-icon="icon: plus; ratio: 1"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tier-label uk-margin-small-top">Tier 2</div>
                <div class="tier-row uk-card uk-card-default uk-border-rounded uk-padding-small uk-flex uk-flex-middle">
                    <img class="tier-icon" src="{tier_2_image_url}" alt="" />
                    <div class="tier-items uk-flex-1 uk-margin-small-left">
                        <div class="tier-row-items" data-t_id="{tier_2_trigger_id}">
                            <div class="tier-item add">
                                <span uk-icon="icon: plus; ratio: 1"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tier-label uk-margin-small-top">Tier 3</div>
                <div class="tier-row uk-card uk-card-default uk-border-rounded uk-padding-small uk-flex uk-flex-middle">
                    <img class="tier-icon" src="{tier_3_image_url}" alt="" />
                    <div class="tier-items uk-flex-1 uk-margin-small-left">
                        <div class="tier-row-items" data-t_id="{tier_3_trigger_id}">
                            <div class="tier-item add">
                                <span uk-icon="icon: plus; ratio: 1"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>