.achievement-card {
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  margin: 2%;
}

.achv-icon {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  z-index: 3;
}

.achv-icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.achv-body {
  height: 80%;
  flex-grow: 1;
  background: #fdfdfd;
  border-radius: 9999px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-left: -25%;
  display: flex;
  align-items: center;
  padding-left: 25%;
  padding-right: 5%;
}

.achv-title {
  color: #222;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.3px;
}


.uk-table {
  max-height: 250px;
  overflow-y: auto;
}

.highlight {
  background-color: #0073e633;
  font-weight: bold;
}