<table class="uk-table uk-table-middle lb-table">
  <tbody>
    <tr class="swac_repeatForSet lb-row" data-g_id="{group_id}">
      <td class="lb-rank-cell">
        <div class="lb-rank">{rank}</div>
      </td>

      <td class="lb-card-cell" colspan="3">
        <div class="lb-body">
          <div class="lb-icon">
            <img
              class="lb-icon-img"
              src="{icon_url}"
              alt="icon"
              width="32"
              height="32"
            >
          </div>

          <div class="lb-name">{group_name}</div>
          <div class="lb-xp">{current_xp} XP</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
