.achievement-card {
  min-height: 90px;
}

.achv-icon-img {
  height: 100%;
  max-height: 80px;
  width: auto;
}

.achv-icon {
  background: #f5f5f5;
  border-right: 1px solid #ddd;
}

.achv-reward-value {
  font-size: 1.3em;
  font-weight: bold;
  color: #0073e6;
}

.achv-title {
  line-height: 1.2em;
}

.uk-table {
  max-height: 250px;
  overflow-y: auto;
}

.highlight {
  background-color: #0073e633;
  font-weight: bold;
}